**/*.DS_Store
**/*darwin/gs
.dockerignore
.editorconfig
.eslintignore
.eslintrc.js
.idea
.env*
.gcloudignore
.git
.gitattributes
.github
.gitignore
.husky
.mocharc.js
.vscode
docker-*.sh
Dockerfile
docker-compose.yml
keyfile*.json
node_modules
nodemon.json
npm-debug.log*
README.md
yarn-debug.log*
yarn-error.log*